* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
}

h1, h2{
    font-style: oblique;
}
h2{
    margin-top: 0px;
}

section {
    margin-top: 10px;
    border-radius: 12px;
    padding-left: 2%;
    box-shadow:  0px 0px 2px 2px lightsteelblue;
    background-color: lightsteelblue;
    width: 100%;
    max-width: 80%;

    
}

article {
}

a>img:hover{
    filter: drop-shadow(0px 0px 3px #a40535b4);
}
a>img:active{
    filter: drop-shadow(0px 0px 3px #0bc879b4);
}

.skills{
    list-style: none;
    padding-left: 5px;
}
.skills > li::before{
    content: "🛠️";
    margin: 10px;
}

#contact {
    position: fixed;
    top: 100px;
    right: 0px;
    transform: ;
}
img[alt^="contact"]{
margin: 5% 3% 20% 3%;

}

article:nth-last-child(2){
    color: whitesmoke;
}

footer{
    font-size: smaller;
}